.root{
    -fx-background-color: #f2e6ff;
}

.table-view {
    -fx-background-color: #4d004d;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: black;
}

.table-column {
    -fx-text-fill: white;
}